Box sizing rules
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;

}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* grid container */
.grid-container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas: 
    'one'
    'two' 
    'three' 
    'four' 
    'five' 
    'six';
    gap: 0.75rem;
}

/* Setting up image grid area */
.img-card:nth-child(1) {
    grid-area: one;
}

.img-card:nth-child(2) {
    grid-area: two;
}

.img-card:nth-child(3) {
    grid-area: three;
}

.img-card:nth-child(4) {
    grid-area: four;
}

.img-card:nth-child(5) {
    grid-area: five;
}

.img-card:nth-child(6) {
    grid-area: six;
}

/* if screen width > 768 */
@media only screen and (min-width: 768px) {
    .grid-container {
        grid-template-areas: 
        'one three'
        'two two'
        'five five'
        'four six';
    }
}

/* if screen width> 1024px */
@media only screen and (min-width: 1024px) {
    .grid-container {
        grid-template-areas: 
        'one two three'
        'one five three'
        'four five six';
    }
}