@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* CSS Reset */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    color: inherit;
}

/* CSS Reset */

body {
    font-family: "Lato", sans-serif;
}

.grid {
    display: grid;
}

.grid-template-areas{
    grid-template-areas:
        'header'
        'project'
        'experience'
        'education'
        'footer';
}

.grid-template-rows{
    grid-template-rows: auto;
}

header.grid-template-rows{
    grid-template-rows: auto auto;
}

.flex {
    display: flex;
}

.display-none {
    display: none;
}

.header-sect {
    grid-area: header;
}

.project-sect {
    grid-area: project;
}

.experience-sect {
    grid-area: experience;
}

.education-sect {
    grid-area: education;
}

.footer-sect {
    grid-area: footer;
}

.gap-1 {
    gap: 1em;
}

.gap-05 {
    gap: 0.5em;
}

.gap-y-05 {
    column-gap: 0.5em;
}

.padding-1{
    padding: 1em;
}

.padding-05-1{
    padding: 0.5em 1em;
}

.padding-x-1{
    padding-left: 1em;
    padding-right: 1em;
}

.text-center {
    text-align: center;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.list-none{
    list-style: none;
}

.font-1 {
    font-size: 1em;
}

.font-125 {
    font-size: 1.125em;
}

.font-bold {
    font-weight: 700;
}

.border-1-black {
    border-top: solid 1px #000000;
    border-bottom: solid 1px #000000;
    border-left: solid 1px #000000;
}

.bg-grey {
    background-color: gainsboro;
}

@media screen and (min-width: 767px) {
    .grid-template-areas {
        grid-template-areas:
            "header header header"
            "project experience education"
            "footer footer footer";
        grid-template-columns: 1fr 2fr 1.25fr;
    }

    .md\:flex {
        display: flex;
    }

    .font-1{
        font-size: 1.125em;
    }

    .font-125 {
        font-size: 1.25em;
    }

    .display-none {
        display: inherit;
    }

    .bg-grey {
        background-color: unset;
    }
}
